main{
    width: 100%;
    height: 100%;
    background-color: wheat;
    border: 2px;
    border-style: solid;
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.box1{
    background-color: aliceblue;
    grid-row-start: 1;
    grid-row-end: 3;
}

.box2{
    background-color: aquamarine;
    grid-column-start: 1;
    grid-column-end: 2;
}

.box3{
    background-color: blueviolet;
}

/* main{
    width: 100%;
    height: 100%;
    background-color: wheat;
    border: 2px;
    border-style: solid;
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "b1 b1"
    ". b2"
    "b3 b2";
}

.box1{
    background-color: aliceblue;
    grid-area: b1;
}

.box2{
    background-color: aquamarine;
    grid-area: b2;
}

.box3{
    background-color: blueviolet;
    grid-area: b3;
} */