body{
    background-color: #fffbf7;
}

h1 {
    color: #46484c;
    text-align: center;
}

p{
    color: #8b8b8bcc;
    font-family: verdana;
    font-size: 20px;
    text-align: center;
}

button{
    color: #fff ;
    background-color: #025157;
}

.terra
{
    max-width: 25%;
}

.matcha
{
    max-width: 75%;
}

.contenedor
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

form{
    text-align: center;
}